[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "output"]
	path = output
	url = https://github.com/gazali-lembah/gazali-lembah.github.io
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "themes/Flex"]
	path = themes/Flex
	url = https://github.com/alexandrevicenzi/Flex.git
